<HTML>
<HEAD>
<TITLE>My Fashion</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
<link href="style.css" rel="stylesheet" type="text/css">
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="780" height="100%" align="center" valign="middle" bgcolor="#666666" style="padding:11px; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="214" valign="top" bgcolor="#FFFFFF">
            <table width="100%" border="0" cellpadding="0" cellspacing="9">
                <tr>
                  <td><IMG SRC="images/logotip.gif" WIDTH=214 HEIGHT=215 ALT=""></td>
                </tr>
                <tr>
                  <td valign="top">
                      <table width="100%" border="0" cellspacing="3" cellpadding="0" class="menu">
                        <tr>
                          <td bgcolor="#F5F2F2"><IMG SRC="images/right_nav_dop.gif" WIDTH=49 HEIGHT=30 ALT=""><a href="#">Where's your Fashion?</a></td>
                        </tr>
                        <tr>
                          <td bgcolor="#F5F2F2"><IMG SRC="images/right_nav_dop.gif" WIDTH=49 HEIGHT=30 ALT=""><a href="#">My Fashion</a></td>
                        </tr>
                        <tr>
                          <td bgcolor="#F5F2F2"><IMG SRC="images/right_nav_dop.gif" WIDTH=49 HEIGHT=30 ALT=""><a href="#">Lastest Photo</a></td>
                        </tr>
                        <tr>
                          <td bgcolor="#F5F2F2"><IMG SRC="images/right_nav_dop.gif" WIDTH=49 HEIGHT=30 ALT=""><a href="#">Top 10 Photo</a></td>
                        </tr>
                        <tr>
                          <td bgcolor="#F5F2F2"><IMG SRC="images/right_nav_dop.gif" WIDTH=49 HEIGHT=30 ALT=""><a href="#">Profile Photo</a></td>
                        </tr>
                        <tr>
                          <td bgcolor="#F5F2F2"><IMG SRC="images/right_nav_dop.gif" WIDTH=49 HEIGHT=30 ALT=""><a href="#">Reset Password</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#F5F2F2"><IMG SRC="images/right_nav_dop.gif" WIDTH=49 HEIGHT=30 ALT=""><a href="#">Log out</a></td>
                        </tr>
                     </table>
                  </td>
                </tr>
            </table>
        </td>
		<td width="11" rowspan="2"><img src="images/spacer.gif" width="11" height="1"></td>
        <td valign="top" bgcolor="#FFFFFF">
            <table width="100%" border="0" cellpadding="0" cellspacing="9">
                <tr>
                  <td>
                      <img width="500" src="images/advertisement.jpeg" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="5" cellpadding="0">
                        <tr>
                            <td class="title">
                                <!-- Title of Contents -->
                                Lastest Photo
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- Content here -->
                                <table>
                                    <tr>
                                        <td class="title_photo">Title Here</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="images/1.jpeg" class="photo"/>
                                        </td>
                                        <td class="des_photo" valign="top">
                                            Description here
                                        </td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                    </table>
                  </td>
                </tr>
            </table>
        </td>
      </tr>
      <tr>
        <td valign="bottom" bgcolor="#FFFFFF" style="padding:9px;" width="214" height="56">
            <div class="greeting">
                <ul>
                    <li><a href="">Hello, Bunnagen</a></li>
                    <li><a href="">Log Out</a></li>
                </ul>
            </div>
        </td>
        <td valign="bottom" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="9" cellpadding="0">
          <tr>
            <td height="56" valign="top" bgcolor="#3A8356"><table width="100%" border="0" cellspacing="9" cellpadding="0">
              <tr>
                <td class="footer"> Copyright &copy; myfashion.com.kh. All rights reserved. Design by Roeun</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</BODY>
</HTML>