a:link, a:active, a:visited {
	font-family: Tahoma, Arial;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
}
a:hover {
	font-family: Tahoma, Arial;
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 11px;
	font-weight: normal;
}
BODY {
	font-weight: normal;
	background-color: #666666;
}
TD {
	font-family: Tahoma, Arial;
	font-size: 10px;
	color: #666666;
}
.white {
	color: #FFFFFF;
}
.green {
	color: #306C3C;
}
.underline {
	text-decoration: underline;
}
.px11 {
	font-size: 11px;
}
.title {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    color: #999999;
}
.footer {
	color: #FFFFFF;
        text-align: center;
}
.greeting {
    background-color: #3A8356;
    width:214px; 
    height:56px;
    font-size: 14px;
    color:#ffffff;
}
.greeting ul {
    margin: 0px;
}
.greeting ul li {
    list-style: none;
    padding: 5px 0px;
}
.menu tr td a{
    font-size: 14px;
    color:#999999;
}
.title_photo {
    font-size:14px;
}
.des_photo {
    font-size:12px;
}
.photo {
    width: 150px;
}